<c-row ngPreserveWhitespaces>
    <c-col xs="12" md="6">
        <c-card>
            <c-card-header>
                <h4>Kart Girişi</h4>
            </c-card-header>
            <c-card-body>
                <form cForm>
                    <c-row>
                        <c-col [md]="6">
                            <img *ngIf="getCreditCardType(form.maskedCardNumber)!='unknown'"
                                src="./assets/card-brands/{{getCreditCardType(form.maskedCardNumber)}}.svg" width="50">
                            <label>Kart Numarası</label>
                            <igx-input-group>
                                <input cFormControl igxInput type="text" [igxMask]="'0000-00XX-XXXX-0000'"
                                    [(ngModel)]="form.maskedCardNumber" [ngModelOptions]="{standalone: true}" />
                            </igx-input-group>
                        </c-col>
                        <c-col [md]="6">
                            <label>Banka</label>
                            <select  cSelect [(ngModel)]="form.bankName" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let bank of bankList" [value]="bank">{{bank}}</option>
                            </select>
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col [md]="6">
                            <label>Ekstre Günü</label>
                            <input type="number" cFormControl [(ngModel)]="form.statementDay"
                                [ngModelOptions]="{standalone: true}" />
                        </c-col>
                        <c-col [md]="6">
                            <label>Son Ödeme Günü</label>
                            <input type="number" cFormControl [(ngModel)]="form.lastPaymentDay"
                                [ngModelOptions]="{standalone: true}" />
                        </c-col>
                    </c-row>
                    <c-row>
                        <c-col>
                            <button cButton="primary" (click)="saveCreditCard()"
                                [disabled]="!form.isValid()">Kaydet</button>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col xs="12" md="6">
        <c-card>
            <c-card-header>
                <h4>Kartlar</h4>
            </c-card-header>
            <c-card-body>
                <table cTable [responsive]="true" [striped]="true">
                    <thead>
                        <tr>
                            <th *ngFor="let header of cardListHeaders">{{ header }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cardList">
                        <tr *ngFor="let card of cardList">
                            <td><img *ngIf="getCreditCardType(card.maskedCardNumber)!='unknown'"
                                    src="./assets/card-brands/{{getCreditCardType(card.maskedCardNumber)}}.svg"
                                    width="50"></td>
                            <td>{{card.bankName}}</td>
                            <td>{{card.maskedCardNumber}}</td>
                            <td>{{card.statementDay}}</td>
                            <td>{{card.lastPaymentDay}}</td>
                            <td>
                                <button cButton color="link" size="sm" style="color: red;" (click)="delete(card)">
                                    <svg cIcon class="me-2" name="cil-trash"></svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>